.contact-us {
    padding: 20px;
    text-align: center;
  }
  
  .contact-us h2 {
    color: #2d0c50;
    font-size: 2rem;
  }
  
  .contact-us p {
    color: #483201;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px;
  }
  
  .contact-image {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }